#root {
  /*max-width: 1280px;*/
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
}

circle.animal {

  width: 16px;
  height: 16px;


  stroke: rgba(141, 140, 140, 0.5);
  stroke-width: 1;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));

  fill: #FFE732;

}

polygon.drone {
  /*position: absolute;*/
  width: 25px;
  height: 25px;


  fill: #32ADFF;
  stroke: rgba(0, 0, 0, 0.59);
  stroke-width: 1;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
}

.target {
  height: 30px;
  width: 30px;
}

.map {
  height: 95%;
  width: 100%;
}

.map-container {
  height: 100%;
  width: 100%;
  background-image: url("../img/King_Ranch_Zoom.png");
  background-size: cover;
}

#choose-target-btn {
  position:relative;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  height: 5%;
}

.sim-ctrl-btn {
  max-height: 30px;
  max-width: 30px;
  padding: 0;
  border-radius: 0;
}

.sim-ctrl-btn img {
  align-items: center;
  justify-content: center;

  max-height: 20px;
  max-width: 20px;
}

#pan-mode-btn {
  margin-left: 10px;
  padding: 5px;
  border-radius: 0;
}