#root {
  /*max-width: 1280px;*/
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
}

.animal {
  width: 32px;
  height: 32px;
}

.drone {
  width: 48px;
  height: 48px;
}

.target {
  height: 30px;
  width: 30px;
}

.map {
  height: 95%;
  width: 100%;
}

.map-container {
  height: 100%;
  width: 100%;
  background-image: url("../img/King_Ranch_Zoom.png");
  background-size: cover;
}

#choose-target-btn {
  position:relative;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  height: 5%;
}

.sim-ctrl-btn {
  max-height: 30px;
  max-width: 30px;
  padding: 0;
  border-radius: 0;
}

.sim-ctrl-btn img {
  align-items: center;
  justify-content: center;

  max-height: 20px;
  max-width: 20px;
}

#pan-mode-btn {
  margin-left: 10px;
  padding: 5px;
  border-radius: 0;
}